.NavBar {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  height: 50px;
  overflow: hidden;
  background-color: #e2b502;
}

main {
  height:100%;
}

button {
  background-color: transparent
}

body {
  background-color: #5b6445;
  font-family: 'Trebuchet MS', sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: auto 280px;
}

h1 {
  text-align: center;
  color:antiquewhite;
  background-color: #2d221e;
  font-size: 40px;
  font-weight: bold;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.AddBlock {
  max-width: 260px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #2d221e;
  height:100%;
}

.Summary{
  background-color: #e2b502;
  border-right-style: solid;
  border-width: 1cap;
  border-left-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #313826;
  margin-top: 10px;
  text-align: center;
  width: 90%;
  margin-left: 4%;
}

.SummaryTitle {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.SummaryDate{
  text-align: right;
  padding-right: 30px;
}

.PostReader{
  background-color: #d6ae57;
  width: 98%;
  float: left;
  margin-left: 1%;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 99%;
}

img{
  margin-bottom: 8px;
}