.NavBar {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  background-color: #183d00ff;
}

main {
  width:80%;
  height:100%;
}

button {
  background-color: transparent
}

body {
  background-color: #563D39;
}

h1 {
  text-align: center;
  background-color: #496515ff;
  font-size: 40px;
  margin: 0px
}

.AddBlock {
  float: right;
  width: 20%;
  padding: 10px;
  background-color: #251A18;
  height: 900px;
}

.Summary{
  background-color: #CD9F3C;
  border-right-style: solid;
  border-radius: 20;
  border-left-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #996a06;
  width: 80%;
  float: left;
  margin-left: 9%;
  margin-top: 10px;
  text-align: center;

}

.SummaryTitle {
  text-align: center;
  font-size: 40px;
}

.SummaryDate{
  text-align: right;
  padding-right: 30px;
}

.PostReader{
  background-color: #d6ae57;
  width: 98%;
  float: left;
  margin-left: 1%;
  margin-top: 10px;
}